[2013-05-17 06:29] altano opened #1 "raw-loader throws an error while parsing mustache templates"
I'm seeing this error:

[code]

while parsing book.txt.mustache:

[code]

like so:

[code]

Funny story though: I don't see anything wrong with the raw-loader AND the loader still appears to return the correct source... I see nothing wrong with the webpack output.

I'll write a mustache-loader modeled after the jade-loader but I thought I'd still mention this.

[2013-10-29 14:51] #1 closed, assigned to nobody

[2015-02-22 00:33] NothingEverHappens opened #4 "Requiring raw jsx file still precompiles it"
I'm requiring raw jsx file:  `require('raw!./Test.jsx')`

In webpack config I have jsx-loader:
[code]

In Test.jsx:

[code]

What I get (precompiled JS):
[code]

What I expect (raw js):
[code]

[2015-02-22 01:05] sokra commented on #4
`require('!raw!./Test.jsx')`

[2015-02-22 18:30] NothingEverHappens commented on #4
Thanks a lot, this solves it

[2015-02-22 18:30] #4 closed

[2015-04-27 19:06] tomekwi opened #5 "Isomorphic?"
Hi,

I’ve written an isomorphic shim for *raw-loader*. Works in node and such. [*node-raw*](https://github.com/tomekwi/node-raw). It’s there mainly for the purpose of testing and rapid development.

@webpack would you mind mentioning it in this project?

[2015-12-05 22:11] oliviertassinari commented on #4
This solve my issue too. Thanks!

[2016-02-07 02:21] sunyang713 opened #6 "unable to use line-breaks?"
How could I use this loader to load a .txt where I would like to preserve the line-breaks?

[2016-04-04 10:24] yotamDvir commented on #6
It actually does preserve the line-breaks. You can use `importedTxt.split('\n')` to get an array of the lines.
I faced the same issue when rendering in React.js, but the "problem" was with React.js, not this loader.

[2016-04-04 16:51] sunyang713 commented on #6
hey, thanks! that's a good solution.

[2016-04-04 16:51] #6 closed

[2016-04-26 06:11] StevenIseki commented on #5
👍

[2016-06-15 05:31] TheLarkInn opened #7 "Sourcemap support."
In Angular2 Components, you have the ability to pass a stringified css style to a decorator like below:

[code]

The common usecase with webpack is to require it and use raw loader to inline the file (or chain it though raw-loader and another loader, however raw-loader doesn't have sourcemap support built it.

Could we implement sourcemap support into the loader so that preprocessed files that are

[2016-06-15 13:25] #7 closed

[2016-09-08 14:26] liubko commented on #4
I think this might be a common problem, might be worth to add it to the README

[2016-10-27 11:40] SpaceK33z commented on #5
Closing since the project is deprecated. I also think it's not that relevant for this loader.

[2016-10-27 11:40] #5 closed

[2016-12-18 12:02] cescoferraro opened #13 "Kind/Question Is this the normal behaviour?"
### Code
[code]
### test.txt & ic_list_black_48px.svg are completly the same

[code]

### Console
[code]

[2016-12-19 20:54] priyajeet opened #14 "Different behavior when using webpack2"
I am using the raw-loader to inline some SVG / HTML as raw strings. With webpack it worked fine. With webpack2 I am getting:

[code]

while with webpack1:

[code]

[2016-12-19 20:59] #14 closed

[2016-12-19 20:59] priyajeet commented on #14
User error, sorry

[2017-01-01 09:05] zzzgit opened #15 "please tell me what's it for?"
please tell me what's it for?

[2017-01-18 16:04] rainboxx commented on #14
Could you tell us what was actually wrong? I have the same issue, still looking for what I did wrong 😉.

[2017-01-18 16:05] rainboxx commented on #14
Well, not the same, but I get `module.exports = "data:image/svg+xml;base64,PHN2ZyB2aW...` and I assume that, if your issue was a wrong handling of webpack, it might be similar.

[2017-01-19 09:42] priyajeet commented on #14
My error was that I had "svg" extension accidentally listed in the file-loader entry also. An oversight.

[2017-01-23 13:38] SpaceK33z commented on #15
This is now better described on the README.

[2017-01-23 13:38] #15 closed

[2017-02-06 15:56] appsolutegeek opened #17 "Angular 2 fixed :-) Thanks, but other parts of the app are broken"

[2017-02-07 15:20] #17 closed

[2017-02-09 23:38] anthonyettinger opened #18 "doesn't work with webpack2 and angular 1"
[code]

If I just do `templateUrl: './navbar/navbar.html'` it works fine.

[2017-02-10 00:10] anthonyettinger commented on #18
so i found the problem. order of injected scripts were wrong (vendor.js was after app.js) causing the entire app to break:

For anyone else with this issue:

[code]

[2017-02-10 00:11] #18 closed

[2017-02-21 12:34] tonylampada opened #19 "Is it possible to use raw-loader to get the source for a .vue component that is also bundled in my vuejs application?"
Hi, sorry if this is the wrong place for this.

I'm trying to use raw-loader to maybe get a solution to [this problem on stackoverflow](http://stackoverflow.com/questions/42334892/show-source-of-vue-component-in-app)

But I'm probably over my head regarding knowledge about webpack and loaders for this.

Should this be possible?

[2017-02-21 13:30] tonylampada commented on #19
As a metter of fact, it IS possible, and raw-loader DOES help.
I ended up answering my own question.
Thanks :-)

[2017-02-21 13:30] #19 closed

[2017-03-01 10:51] Phmager commented on #13
I've got the same problem with *.md files when using it directly.

import * as CHANGELOG from 'raw-loader!./../../assets/CHANGELOG.txt';
is correct

import CHANGELOG from 'raw-loader!./../../assets/CHANGELOG.txt';
-> undefined

import * as CHANGELOG from 'raw-loader!./../../assets/CHANGELOG.md';
-> modules.exports = "..."

import CHANGELOG from 'raw-loader!./../../assets/CHANGELOG.md';
-> undefine

[2017-03-05 09:34] bebraw commented on #13
Could you provide a small standalone repository to study?

[2017-03-10 10:55] lricoy opened #20 "Question: How to import raw files with resolved imports"
Hi, I would like to import a file as a string but only **after** webpack has resolved the `import`statements inside of it.

Is that possible?

Basically:

[code]

[code]

[code]

[2017-03-13 22:02] richardspence opened #21 "Raw loader adds an extra module.exports = in the bundle."
Using webpack 2.2.1 & raw-loader 0.5.1

The raw-loader will append extra module.exports into the template that is included into the bundle.

Here's an example bundled snippet:
[code]
.template.html :
[code]
Note the extra module.exports = in the template text

[2017-03-13 22:13] richardspence commented on #21
Ahh figured it out.  I had added this in the webpack.conf trying to get it to work, and this causes the duplicate module.exports:

[code]
so I removed that section.

[2017-03-13 22:34] michael-ciniawsky commented on #21
@richardspence ? Either `import template from 'raw-loader!./file.html` or add `raw-loader` to `webpack.config.js` and `import template from `./template.html` should work . But **not** both :stuck_out_tongue:

[2017-03-13 22:34] #21 closed

[2017-03-16 02:07] michael-ciniawsky commented on #20
@lricoy I'm not 💯 if understand what you are trying to do, but a dynamic import maybe? =>

[code]

[2017-03-16 02:58] Kovensky commented on #20
Webpack does the module resolution _after_ processing through all the loaders, so it's not possible to get the raw output, at least... not with a loader.

This is an implementation detail, but it is possible to access the core webpack runtime function via `__webpack_require__`. Attached to it is an `m` object that holds the function bodies of all modules whose code are currently loaded. This can b

[2017-03-16 21:30] malyzeli opened #22 "SyntaxError: Unexpected token"
This is my test component (works well without trying raw-loader):

[code]

This is `test.txt` content:
`some text here`

This is what I'm getting when trying to build by webpack:
[code]
Using "raw-loader": "^0.5.1".
Tried with both Webpack v1 (1.14.0) and v2 (2.2.1), result is the same.
What am I doing wrong?!

[2017-03-16 22:20] malyzeli commented on #22
Okay, so the problem was that other loaders from config was still applied after raw loader.

**Solution** was to add `!!` to import statement, which disables other loaders, so its
`import test from "!!raw-loader!./test.txt"

See https://webpack.github.io/docs/loaders.html#loader-order

[2017-03-16 22:20] #22 closed

[2017-03-17 10:47] lricoy commented on #20
I will give it a try. Thanks! 👍

[2017-03-17 11:17] michael-ciniawsky commented on #20
@lricoy If there isn't a loader for that propose avaiable already, make one 😛

[2017-03-17 11:18] michael-ciniawsky commented on #20
See style-loader for architectual proposes since it does the same for CSS && `<style></style>`

[2017-03-17 11:36] lricoy commented on #20
Sounds @michael-ciniawsky I will give it a try this weekend :) You can close this issue if you think is appropriate since it is not raw-loader related anymore. 😄

[2017-03-17 19:23] michael-ciniawsky commented on #20
Share a link here If you need any help or have an awesome loader for webpack-contrib :D

[2017-03-17 19:23] #20 closed

[2017-03-22 15:19] martinmanzo opened #23 "The provided value <path> is not an absolute path!"
Hi, I updated the raw-loader version to it latest and started getting this message:

If I change "./app-www/components/" to the absolute path to the file("/home/user....") it works correctly but that solution is not suitable for team work.

The actual configuration is like this:
[code]
How can I make this loader work the way it did before? Is this a bug?

Thanks

[2017-03-22 15:32] martinmanzo commented on #23
Never mind, my bad.
Resolved by doing:
[code]

[2017-03-22 15:32] #23 closed

[2017-04-09 04:23] d3viant0ne opened #24 "webpack-defaults upgrade"
Addition of `webpack-defaults` & associated refactoring as a part of the next `Major` release

Issue exists for status tracking across the organization.

[2017-04-19 18:34] FezVrasta commented on #13
I have the same problem, I do:

[code]
But I get:
[code]

I tried @Phmager suggestion without luck.

[2017-04-20 05:39] michael-ciniawsky opened #26 "Standardize README"

[2017-04-23 07:05] inspiraller opened #27 "Provide option to return null instead of an error if file cannot be found"
When requiring a file dynamically, it it cannot be found I get:
[code]
I would like to either provide an option to return a null value or set up a config that it just returns an empty string or null.

[2017-05-04 13:58] ImranAhmed commented on #13
I'm also seeing some odd behaviour. Trying to load a .md file and seeing this.

module.exports = ""

`const status = require('raw-loader!../../../content/home/status.md');`

[code]

[2017-05-22 12:49] stephan-v opened #29 "Does not work with a dynamic path"
Whenever I try to use this with a dynamic require path it fails. Is this normal are can this be circumvented somehow?

For example these will fail:

[code]

[code]

While this works fine:

[code]

The error I get is:

[2017-06-11 21:06] kedrzu commented on #29
Webpack resolves dependencies at build time, so you simply cannot do it at runtime.

[2017-06-20 20:22] saurabh2590 opened #30 "Weird behaviour of loader on Docker"
Hi
I am using `raw-loader` to load raw xml files in my react project with the following config in my rules for loader.
[code]
And build my output with `webpack --config webpack.build.config`. The weird problem is that on my local machine or any machine loader works correctly and emits out xml files as string in the compiled JS.
However, when running inside the docker environment it always complain

[2017-07-04 10:19] d3viant0ne commented on #30
I'm going to need a bit more information on the docker side of things.

1.) Your docker file
2.) Host OS
3.) Docker Version ( i.e. `Version 17.06.0-ce-mac17 (18432)` )

[2017-07-22 04:43] d3viant0ne commented on #30
Resolving as no feedback was given. Feel free to re-open should you want to provide the information needed to properly triage this issue

[2017-07-22 04:43] #30 closed

[2017-07-26 18:10] alanbsmith opened #31 "`import * as files from '!raw-loader!./foo';` issue"
I’m not sure if this is the best place for this question, so I'm happy to remove the issue if so.

With normal JS files I can import them like this:`import * as foo from ‘../some/dir';` and then call it later `foo[‘bar’]`. I’d like to be able to do the same thing, but with the inline raw loader. Something like: `import * as files from ‘!raw-loader!../some/dir’;` and then call the raw file later: `

[2017-07-27 11:23] michael-ciniawsky commented on #31
The `raw-loader`'s propose is mainly to convert a raw source into a JS Module with a 'default' export per file) (`export default ${raw}`  || `module.exports = ${raw}`). webpack loaders in general work on a per file basis, you can't require/import a whole directory without adding extra logic :).

[2017-07-27 11:23] #31 closed

[2017-07-27 14:12] alanbsmith commented on #31
Thanks for the clarification and the quick response!

[2017-08-14 06:24] Zzzen commented on #13
Did you use url-loader for svg resources? @cescoferraro

[2017-09-18 12:21] nocke opened #32 "Minor mistake in readme.md?"
**Readme.md** says:

    import txt from 'file.txt';

Do you mean

    import txt from './file.txt';

(the first version would afaik mean, “there's a `file.txt` module”. The second does work for local .txt files in your entry point's folder)

[2017-09-18 13:21] michael-ciniawsky commented on #32
Yup, feel free to send a quick PR to fix it 😛

[2017-09-18 15:01] mvinayakam opened #33 "Using Raw-loader along with polymer-webpack-loader does not create valid html"
Hello

I am using polymer webcomponents along with angular4. Including the polymer-webpack-loader messes up the output. Its no longer valid html
<img width="714" alt="screen shot 2017-09-18 at 8 29 36 pm" src="https://user-images.githubusercontent.com/3602564/30548569-298560f6-9cb0-11e7-9464-f1eb19dc2276.png">

Without polymer-webpack-loader, here is the sample of the html file - <img width="857"

[2017-09-18 15:02] mvinayakam commented on #33
The cd in the second snapshot is irritating but the page atleast works as expected.

[2017-09-21 08:53] #32 closed

[2017-09-27 20:41] michael-ciniawsky commented on #33
Please provide your config (`webpack.config.js`) aswell, why do you need the `raw-loader` ?

[2017-09-27 20:41] #29 closed

[2017-09-27 20:43] michael-ciniawsky commented on #27
Try to `exclude` them instead, an `{Error}` is the 'correct' way

[2017-09-27 20:43] #27 closed

[2017-09-27 20:45] #13 closed

[2017-09-29 07:29] mvinayakam commented on #33
I believe raw-loader was part of the reference config we saw. Hence continued using it. I recently tried changing to babel-loader but that wouldn't work either.

Here is the config file zipped to bypass the security check
[webpack.config.js.zip](https://github.com/webpack-contrib/raw-loader/files/1343421/webpack.config.js.zip)

[2017-10-01 02:22] michael-ciniawsky commented on #33
It should be possible to use just `polymer-webpack-loader` without the need for `raw-loader`. As this loader literally just adds `export default ${content}` I'm afraid the issue lies somewhere else in your case, so please open an issue @polymer-webpack-loader instead if you still have regressions

[2017-10-01 02:22] #33 closed

[2017-10-02 06:55] oliviertassinari opened #37 "raw-loader@1.0.0-beta.0 released on npm as latest?"
I believe this new beta should have been released with the `next` tag on npm, not the `latest` one.

[2017-10-02 09:01] ihntv opened #38 "New version doesn't work properly"
New version doesn't work properly with Webpack and Angular

Webpack: 3.6.0
Angular: 4.4.4

But in your previous version "0.5.1" all works fine

[2017-10-02 15:52] ghetolay commented on #38
I've not followed new webpack versions and their requirement but I think it's like for `css-loader` it's returning a js module. Except here we can't use `to-string-loader` as the object returned has no `toString()` function.
Maybe we need a `angular-resource-loader` to handles those cases of module export.

[2017-10-02 19:40] nelsonomuto commented on #37
This version returns an object and not a string.

[2017-10-03 02:13] d3viant0ne commented on #38
@ihntv - Shouldn't have been on the latest dist tag yet. raw-loader is now set to `'dist-tags': { latest: '0.5.1', beta: '1.0.0-beta.0' }`

[2017-10-03 02:13] #38 closed

[2017-10-03 02:14] d3viant0ne commented on #37
That's a mistake, shouldn't have been on the latest dist tag yet. raw-loader is now set to `'dist-tags': { latest: '0.5.1', beta: '1.0.0-beta.0' }`

[2017-10-03 02:14] #37 closed

[2017-10-03 11:26] AnimaMundi commented on #38
@latest is still installing 1.0.0-beta.0

[2017-10-03 11:30] d3viant0ne commented on #38
![screen shot 2017-10-03 at 6 30 26 am](https://user-images.githubusercontent.com/8420490/31123168-6125aab6-a804-11e7-9416-5ba4397b3ce2.png)

[2017-10-03 11:42] AnimaMundi commented on #38
No lockfile, but I tried it again and now it's working 😆 Maybe it was cached locally by NPM.

[2017-10-18 15:03] sneakyfildy opened #41 "Removing line breaks"
https://www.google.ru/search?newwindow=1&q=browser+renders+line+breaks&spell=1&sa=X&ved=0ahUKEwiCw4mVtfrWAhUnYZoKHRsEDvEQvwUIIygA&biw=1201&bih=867

Hello people.
What do you think about adding a "\n" strip option into raw-loader.
While remaking my templates from` ['<span></span>', '<span></span>'].join('') `stuff to modern `require ('tpl.html')` I SUDDENLY came across the issue with markup, it act

[2017-10-18 15:16] sneakyfildy commented on #41
ah, nevermind, I think it's even better. It mimic real .html behavior.

[2017-10-18 15:16] #41 closed

[2017-11-05 14:52] samouss commented on #20
Hi @lricoy,

Did you manage to inject your script with all the resolved dependencies? I have try the hacky solution mentioned above, but the call of the function only returns the scope of the required module. You still don't have all the dependencies inline inside the module, you just have the reference to it like this:

[code]

[2017-11-05 19:43] lricoy commented on #20
Hi @samouss. I have not. I ended up doing a custom plugin that would run after the `build` step and create the files I needed after webpack has bundled them.

[2017-11-06 06:23] samouss commented on #20
Ok thanks for the feedbacks 👍 Finally, I am using the MultiCompiler option from Wepback with the RawLoader and it seems to work.

[2017-11-14 17:25] joeheyming opened #42 "Syntax error with special whitespace characters"
I was trying to load a text file that was written with Google Docs.  It had issues like the character for " was the special “.

But that was not my issue.
It turns out that a special whitespace character was put in the file.  I used String.charCodeAt to find out the whitespace was of code: 8232 or

U+2028 | line separator

I replaced all these characters and the raw-loader now works.
I'm filing th

[2017-11-14 17:26] joeheyming commented on #42
Google has led me to this stackoverflow:
https://stackoverflow.com/questions/4253367/how-to-escape-a-json-string-containing-newline-characters-using-javascript

[2017-11-14 17:28] joeheyming commented on #42
actually this works:

  var stringified = JSON.stringify(content)
  .replace(/\u2028/g, '\\u2028')
  .replace(/\u2029/g, '\\u2029');

[2017-11-17 09:26] #42 closed

[2018-01-29 13:58] kanishk-anand-oyo opened #46 "Cannot require a txt file"
I am trying to import a .txt file using raw-loader.
If I use `var text=require(raw!./sample.txt)` I get raw!./sample.txt not fount and if I use `var txt=require(./sample.txt)` I get this error:

`(function (exports, require, module, __filename, __dirname) { html ....}
SyntaxError: Unexpected token {
      at createScript (vm.js:56:10)
     at Object.runInThisContext (vm.js:97:10)
     at Module._c

[2018-01-29 14:08] evilebottnawi commented on #46
@kanishk-anand-oyo you full name `raw-loader` -> `var text=require("raw-loader!./sample.txt");`

[2018-01-29 14:09] kanishk-anand-oyo commented on #46
Still the same error of cannot find the module

[2018-01-29 14:19] evilebottnawi commented on #46
@kanishk-anand-oyo `npm i raw-loader`

[2018-01-29 15:05] kanishk-anand-oyo commented on #46
Still the same error, how ever running `npm i -D raw-loader` gave the following output:
<pre>
@0.0.1 /Users/oyo/oyo-lite
├── raw-loader@0.5.1
├── UNMET PEER DEPENDENCY react@16.2.0 extraneous
└── UNMET PEER DEPENDENCY react-dom@^0.14.0 || 15.x.x
npm WARN react-addons-css-transition-group@15.6.2 requires a peer of react@^15.4.2 but none was installed.
npm WARN react-daterange-picker@1.2.0 requires

[2018-01-29 15:10] kanishk-anand-oyo commented on #46
Also, I didn't understand `Don't forget to polyfill `require` if you want to use it in node.`

Sorry to ask silly questions, I am beginner :|

[2018-01-29 15:17] evilebottnawi commented on #46
@kanishk-anand-oyo many of deps require difference react version you should fix this (install right version). Also add into `devDependencies` `raw-loader` and reinstall all deps (`rm -rf pachage-lock.json node_modules && npm i`)

[2018-01-31 19:46] Bmahecha123 opened #47 "raw-loader does not working with Jasmine test for Angular 5"
When I attempt to write a simple integration test for Angular 5 I get the following error when trying to configure my TestBed:
```Error: Cannot find module 'raw-loader!./demo-text.md' from 'MyComponent'```

Has anyone else experienced this testing Angular 5 applications which make use of raw-loader? Thanks for your time.

[2018-02-01 08:13] evilebottnawi commented on #47
@Bmahecha123 `'raw-loader!./demo-text.md' from 'MyComponent'` => `'raw-loader!./demo-text.md' (without from)

[2018-03-09 10:13] luampm opened #48 "with html-loader, the html-loader parse fail"
where used with html-loader, the html complier   fail.

ERROR in   Error: Parse Error: <html lang=\"en\">\r\n\r\n<head>\r\n  <meta chars
et=\"UTF-  8\">\r\n\r\n  <title>slider</title>\r\n  <meta name=\"viewport\"\r\n
       co  ntent=\"width=device-width, initial-scale=1.0, user-scalable=no, mini
mum-scale  =1.0, maximum-scale=1.0\">\r\n</head>\r\n\r\n<body>\r\n<ul>\r\n\r\n</
ul>\r\n\r  \n<script

[2018-03-09 10:53] michael-ciniawsky commented on #48
You wont need the `raw-loader` when using the `html-loader` already, it's either not both :)

[2018-03-09 10:53] #48 closed

[2018-03-09 10:54] #47 closed

[2018-03-09 10:55] #46 closed

[2018-03-20 13:00] mikila85 opened #49 "not working in typescript"

[2018-03-20 13:01] evilebottnawi commented on #49
@mikila85 please describe config and use case

[2018-03-20 13:01] #49 closed

[2018-03-28 18:19] shellscape commented on #26
Closed by #50

[2018-03-28 18:19] shellscape commented on #24
Closed by #50

[2018-03-28 18:19] #24 closed

[2018-03-28 18:19] #26 closed

[2018-05-23 19:32] majidmadadi opened #53 "When i use style-loader after raw-loader i get error"
My webpack rule is as follows:

      {
        "exclude": [],
        "test": /\.css$/,
        "use": [
          {
            "loader": "style-loader"
          },
          {
            "loader": "raw-loader"
          },
          {
            "loader": "postcss-loader",
            "options": {
              "ident": "embedded",
              "plugins": postcssPlugins,
              "sour

[2018-06-19 22:07] ProdigySim opened #54 "Export incompatibility with raw-loader and awesome-typescript-loader"
* Operating System: MacOSX
* Node Version: 8
* NPM Version: yarn 1.7.0
* webpack Version: 4.12.0
* webpack-serve Version: none

This issue is for a:

- [x] **bug**
- [ ] **feature** request
- [ ] **modification** request

### Code
I have some code to import an SVG in Typescript. Here are some relevant snippets:

Importing an SVG in a typescript file:
[code]

And of course I have defined this silly

[2018-06-19 22:47] ProdigySim commented on #54
I managed to get this working by changing my typescript module declaration to:

[code]

and using

[code]

for my import statement.

Still, it would be nice if we could get a default export.

[2018-08-30 11:29] khusamov opened #55 "The variable contains the path to the file instead of the text"
The cities variable contains the path to the file instead of the text:

[code]

My code:

[code]

Config:

[code]

[2018-08-30 11:34] evilebottnawi commented on #55
@khusamov you have invalid configuration, `file-loader` already handle you import, please provide config

[2018-08-30 11:36] evilebottnawi commented on #53
@majidmadadi expected don't use `file-loader` and `style-loader`, `style-loader` is pitch loader, example how use style-loader and file loader https://github.com/webpack-contrib/style-loader#url

[2018-08-30 11:36] #53 closed

[2018-08-30 11:36] evilebottnawi commented on #54
@ProdigySim problem still exists?

[2018-09-05 22:59] ProdigySim commented on #54
It seems to be working now; I'm not sure why it was failing 🤷‍♂️ .

Welp!

[2018-09-06 09:32] #54 closed

[2018-09-06 09:32] evilebottnawi commented on #55
Feel free to feedback :+1:

[2018-09-06 09:32] #55 closed

[2018-09-06 15:43] khusamov commented on #55
What is `file-loader`?
How do I import the contents of text files correctly?

[2018-09-21 08:08] danman113 opened #56 "Cannot import file using typescript"
* Operating System: OSX
* Node Version: v8.11.3
* NPM Version: 5.6.0
* webpack Version: ^4.19.1
* raw-loader Version: ^0.5.1

This issue is for a:

- [x] **bug**
- [ ] **feature** request
- [ ] **modification** request

### Code
[code]
##### CLI Command

[code]

##### webpack.config.js

[webpack.config.js](https://gist.github.com/danman113/33c508375d37bc4319cf63b9c5318dbf)

##### tsconfig

[code]

[2018-09-21 09:29] evilebottnawi commented on #56
@danman113 it is not bug webpack, looks you should ignore some files in `tsconfig`

[2018-09-21 17:44] danman113 commented on #56
@evilebottnawi That doesn't seem to work. I updated my .tsconfig to the following without any luck:
[code]
ERROR in [at-loader] ./src/index.ts:3:22
    TS2307: Cannot find module './simple.txt'.
[code]

[2018-09-21 19:03] danman113 commented on #56
Okay so I figured out what the problem was, it's definitely not a problem with webpack or the loader, but how typescript handles modules.

The fix was simply to add a `[filename].d.ts` file in the same directory as  with a declaration `declare module '*.[filename]'` in it. Adding these declaration files is what should fix all of these bugs.

[2018-09-21 19:04] #56 closed

[2019-01-16 02:30] amoshydra commented on #55
If this is a one-time import you can override your default webpack loader config by prepending an `!` in front.

Check this out https://github.com/webpack/webpack/issues/1747#issuecomment-164561113

[code]

[2019-02-01 13:32] WouterFlorijn opened #62 "Imported string contains module.exports"
* Operating System: Windows
* Node Version: 8.9.1
* NPM Version: 6.7.0
* webpack Version: 4.29.0
* raw-loader Version: 1.0.0

### Expected Behavior

Raw document contents are imported as string.

### Actual Behavior

Imported string is

[code]

### Code

[code]

Also tried `'raw-loader!file-name.md'`.

### How Do We Reproduce?

I'm using Nuxt (might be relevant somehow). I just want to load an md

[2019-02-01 13:52] evilebottnawi commented on #62
@WouterFlorijn Can you create minimum reproducible test repo?

[2019-02-01 13:53] evilebottnawi commented on #62
Code is simple https://github.com/webpack-contrib/raw-loader/blob/master/index.js and i think problem in confguration

[2019-02-01 14:41] evilebottnawi commented on #62
@WouterFlorijn 'raw-loader!file-name.md' should work in server side, it think problem in configurationm can you provide minimum reproducible test repo?

[2019-02-12 03:52] jgcmarins opened #64 "Module parse failed: Unexpected token m in JSON at position 0 while parsing near 'module.exports = "{\...'"
* Operating System:
macOS Mojave: 10.14
* Node Version:
v10.15.1
* NPM Version:
6.4.1
* webpack Version:
4.29.3
* raw-loader Version:
1.0.0

### Expected Behavior

To load load this json file:

[code]

### Actual Behavior

[code]

### Code

[code]

### How Do We Reproduce?

check this repo: https://github.com/jgcmarins/react-native-cryptocurrency

[2019-02-12 09:31] evilebottnawi commented on #64
Use `raw-loader!../my-awesome-project/app.json` (exclude first `!`)

[2019-02-12 09:31] #64 closed

[2019-02-12 12:29] jgcmarins commented on #64
Thanks

[2019-02-12 12:52] #62 closed

[2019-03-18 16:52] nstuyvesant opened #71 "raw-loader 2.0 not working with pug-html-loader"
* Operating System: macOS 10.14.3
* Node Version: 10.15.2
* NPM Version: 6.9.0
* webpack Version: 4.29.6
* raw-loader Version: 2.0.0
* pug-html-loader Version: 1.1.5

### Expected Behavior
This part of my webpack config (module.rules) will work with raw-loader 2.0.0 the same way it worked with raw-loader 1.0.0:
[code]

### Actual Behavior
Pug templates were not loaded.

### Code

[code]

[code]

#

[2019-03-18 17:05] evilebottnawi commented on #71
It is breaking change please read https://github.com/webpack-contrib/raw-loader/releases/tag/v2.0.0, you need rewrite code, you can provide example of code and I'll show you how to do it right

[2019-03-20 12:54] birtles commented on #71
I'm not sure if this is the same issue but I am having trouble with 2.0 and `ExtractTextPlugin`: [webpack config](https://github.com/birtles/10sai/blob/dev/webpack.common.js#L24-L35), [usage example](https://github.com/birtles/10sai/blob/dev/src/index.tsx#L24).

I get `TypeError: text.forEach is not a function`. [Error stack here](https://circleci.com/gh/birtles/10sai/183).

Any help with rewritin

[2019-03-20 13:09] evilebottnawi commented on #71
`ExtractTextPlugin` is deprecated and no longer support and doesn't support ES syntax, you can fork this plugin and fix problem or you can create own plugin for extracting pug templates. Alternative https://github.com/peerigon/extract-loader

[2019-03-20 13:10] birtles commented on #71
Great, thank you so much. I'll give `extract-loader` another try.

[2019-03-21 20:30] brenc commented on #71
Upgrading to 2.0 broke loading Knockout components. This was a simple fix but I had to dig for it.

For future reference, here is my old code that worked with `raw-loader@1`:

[code]
Here is what works with `raw-loader@2`:
[code]

[2019-03-22 09:39] evilebottnawi commented on #71
@brenc can you create minimum reproducible test repo

[2019-03-22 09:40] evilebottnawi commented on #71
Yep, raw-loader use `ES` modules, so you need update code, rewrite all on `import`

[2019-03-22 09:40] evilebottnawi commented on #71
Also you can use `require.default`

[2019-03-22 18:16] nstuyvesant commented on #71
Closing as this was a breaking change. Switching to html-loader allowed me to minimize syntax changes to my webpack config.

[2019-03-22 18:16] #71 closed

[2019-03-27 11:21] ir-fuel opened #72 "Not working with require statements"
* Operating System:
macOS Mojave

* Node Version:
8.9.1

* NPM Version:
6.5.0

* webpack Version:
4.29.6

* raw-loader Version:
2.0.0

### Expected Behavior

`import` and `require` should both inline the file contents

### Actual Behavior

`import`works, but `require` doesn't.

### Code

example:

[code]

when logging both in the console, for `Test` I get the contents of the file, but for `Test2`

[2019-03-27 11:28] ir-fuel commented on #72
Downgrading to 1.0.0 solves the issue

[2019-03-27 11:28] evilebottnawi commented on #72
https://github.com/webpack-contrib/raw-loader/releases/tag/v2.0.0

Use `default`

[2019-03-27 11:29] ir-fuel commented on #72
What do you mean by "use Default" ?

[2019-03-27 11:30] evilebottnawi commented on #72
@ir-fuel `require('something').default` or rewrite your code base on `import`, it is first releases for better supporting `import`, without this breaking change we never migrate on `ES` modules

[2019-03-27 11:33] ir-fuel commented on #72
Adding `.default` has indeed solved it.
I'm filling an object with a bunch of external file contents.

[code]
This is afaik not something that can be done using `import` statements

[2019-03-27 11:35] evilebottnawi commented on #72
@ir-fuel all can be done using `import`, just move all `require` on top and change this to `import`, because it is doesn't has sense in you example

[2019-03-27 11:37] ir-fuel commented on #72
Sure it is technically possible. It's just more code to write as I have to import everything first and then insert it in the object.

[2019-03-27 11:41] evilebottnawi commented on #72
@ir-fuel anyway if you have idea how we can handle `ES` and `require` PR welcome

[2019-03-27 11:43] evilebottnawi commented on #72
Maybe `exports.default = module.exports = value`, need add test for this to check tree shaking

[2019-04-02 17:35] corvinrok opened #73 "Warning/Failure Using Raw Loader 2.0.0 in Angular CLI"
* Operating System: Windows 7
* Node Version: 11.13.0
* NPM Version: 6.7.0
* webpack Version: webpack included in Angular 7.2.11/ Angular CLI 7.3.7
* raw-loader Version: 2.0.0

### Expected Behavior

I expect raw-loader uses to properly read the text contents of my files and stream them into the assigned variable.

### Actual Behavior

The following warning is given during build...

[code]
This wa

[2019-04-03 10:44] evilebottnawi commented on #73
You need rewrite code, please read https://github.com/webpack-contrib/raw-loader/releases/tag/v2.0.0

[2019-04-03 10:44] #73 closed

[2019-04-03 10:45] evilebottnawi commented on #73
And in future please provide minimum reproducible test repo, it is open source, some developers don't have time on create env as you have, thanks

[2019-04-03 18:18] corvinrok commented on #73
First to answer your first response. I read https://github.com/webpack-contrib/raw-loader/releases/tag/v2.0.0 . It only says there were breaking changes, but nothing about how to solve those breaking changes. I **DID** use _your_ recommended code changes found in your README (that are listed in the https://github.com/webpack-contrib/raw-loader/blob/master/README.md#inline ). They do **NOT** work.

[2019-04-03 18:32] evilebottnawi commented on #73
@corvinrok
First: if you continue talking to me in that tone you will get banned
Second: I don't see how you try to fix issue
Third: no config, reproducible test repo and other stuff what can help to fix/resolve problem, i can't fix something in anything
Fourthly: it is your personal problem with your project. Angular CLI works as expected with latest `raw-loader`, before moving to a rough tone yo

[2019-04-27 23:11] daB0bby opened #76 "error when using with SCSS and angular7"
* Operating System: macOS 10.14.4
* Node Version: v11.14.0
* NPM Version: 6.9.0
* webpack Version: 4.30.0
* raw-loader Version: 2.0.0

### Expected Behavior

Wokring like it does with `1.0.0`

### Actual Behavior

After upgrading `raw-loader` to `2.0.0` I always receive this error from Angular:
[code]

Using Angular `7.2.14`.

### Code

This is my configuration for my SCSS and CSS:

[code]

This s

[2019-04-29 09:56] evilebottnawi commented on #76
You need rewrite you code, please see note about breaking change, now it is harmony module, please provide you minimum reproducible test repo and i will show how do this in right way, thanks

[2019-04-29 09:56] #76 closed

[2019-05-15 19:07] rbirkgit commented on #76
I have the same issue. Took my Ang7 code and added "raw-loader" 2.,0 and I get the styles error starting up my app. No other changes. Changed to 1.0 and my app starts up. I don't understand what I need to do in order to use v2.0? Or is it not compatible with default Ang7 CLI apps?

[2019-05-16 09:47] evilebottnawi commented on #76
@rbirkgit rewrite from require to import

[2019-05-16 12:08] cheng93 commented on #76
FWIW I tried that and the error still occurs, i.e

[code]

[code]

[2019-05-16 12:09] evilebottnawi commented on #76
@cheng93 please create new issue with **minimum** reproducible test repo

[2019-05-16 13:44] rbirkgit commented on #76
Maybe I am not explaining. All I did was adding "raw-loader" to my packages.json and ran yarn install. No code changes at all. Then I can no longer start my app with the styles errors. Going back to v1 it works again. I have not got as far as trying to import.

[2019-05-16 14:31] cheng93 opened #77 "Angular and Styles"
* Operating System: Windows 10
* Node Version: 10.15.1
* NPM Version: 6.7.0
* webpack Version: see below
* raw-loader Version: see below

### Expected Behavior

webpack is successful

### Actual Behavior

webpack is not successful

### Code

webpack and raw-loader version are in repo

https://github.com/cheng93/raw-loader-issue

[code]

[2019-05-19 12:51] subramn opened #78 "The template specified for component AppComponent is not a string"
When i try to upgrade an existing angular app using webpack , raw-loader, to 2.0.0 started receiving  this error.
webpack build was successful, but when i ran the app in browser got this error.

when i downgraded to earlier version of raw-loader its working fine.

[2019-05-23 03:34] Klaster1 commented on #78
@subramn are you using angular2-template-loader? Is true, there's a similar issue still opened https://github.com/TheLarkInn/angular2-template-loader/issues/86.

[2019-05-23 09:58] evilebottnawi commented on #78
Close in favor https://github.com/webpack-contrib/raw-loader/issues/77

[2019-05-23 11:05] evilebottnawi commented on #72
`exports.default = module.exports` break tree shaking, so better use `.default` for `require`

[2019-05-23 11:05] #72 closed

[2019-05-23 11:16] evilebottnawi commented on #78
Investigate

[2019-05-23 11:36] evilebottnawi commented on #78
@subramn #77
@Klaster1 problem in `angular2-template-loader`
probably angular2-template-loader should upgrade to generate `import`s too.
that would make it compatible with raw-loader 1 and 2
so feel free to send a PR with fix to this repo

[2019-05-23 11:37] #78 closed

[2019-05-24 13:29] evilebottnawi commented on #77
Please open issue in `@ngtools/webpack`, we start migrate on `import`/`export` in some loaders/plugins, so it should be fixed in other plugins/loaders too, we can't do something on our side

[2019-05-24 13:29] #77 closed

[2019-06-05 02:04] JoelParke opened #79 "version 2.0.0 breaks ng Angular 8 -> webpack in my project"
* Operating System:  Ubuntu 19.04
* Node Version:   12.2.0
* NPM Version: - I use yarn for most, but npm 6.9.0
* webpack Version: 4.33.0
* raw-loader Version: 2.0.0

[code]

### Expected Behavior

not to see my web app crash:

[code]

### Actual Behavior
  no errors on web side.

### Code
This code that crashes is the straight Angular 8.0, and I suspect Angular 7.0 as well. I saw this earlier and

[2019-06-05 09:42] evilebottnawi commented on #79
Shortly: some of angular loader is not compatobility with latest `raw-loader` (we use esm instead commonjs)

https://github.com/webpack-contrib/raw-loader/issues/77

[2019-06-05 09:42] #79 closed

[2019-06-05 09:44] evilebottnawi commented on #79
Can be fixed like:
[code]

[2019-06-20 08:56] satorioh commented on #56
By the way, if  use `import ...  from` syntax in your ts file may get silent failure, using `import * as ... from` will work well

[2019-06-25 13:52] VitaliyR commented on #72
It's better to update the README about this functionality :)

[2019-06-30 18:37] jasonqsong commented on #56
For whoever runs into the same question (like me) in the future. The answer is in the [official typescript doc][doc]. You'll need to tell typescript that your module will be a string type (or other type).

In raw loader case, the files would look like this:

[code]

[code]

[code]
Now typescript would be happy about the string type variable "consttext".

[doc]: https://www.typescriptlang.org/docs/

[2019-07-18 07:45] thw0rted commented on #77
This actually isn't limited to the CLI, it impacts both the dynamic and AOT compilers.  I'll try to put together a simple repro for an Angular issue tomorrow.  I'm worried that I'm doing something wrong, though, since raw-loader v2 has been out for months and I don't see that much discussion of the problem.

[2019-08-20 04:27] ViieeS commented on #79
raw-loader@1.0.0 is better though, simple plug and play solution.

[2019-08-20 07:08] thw0rted commented on #79
I'd rather keep a live dependency on the "wrong" loader than a pinned dep on the "right" one, personally.  If you stick with 1.0 to avoid this bug then you're going to miss out on updates that could possibly be security-relevant.

[2019-08-29 04:33] runfaj commented on #72
This is an es6 transpiling thing via babel - it doesn't really have to do with raw-loader. It is documented in babel's documentation. If people are having the issue though, finding this issue (like I did) via a search engine works well enough.

[2019-11-15 07:10] sundylink opened #87 "You may need an appropriate loader to handle this file type."
require('!!raw-loader!./test.md')
error:
Unexpected token
You may need an appropriate loader to handle this file type.
| export default "# test"

[2019-11-15 07:13] sundylink commented on #87
webpack 1.x

node 6.9.0
raw-loader 2.0.0

[2019-11-15 08:53] evilebottnawi commented on #87
Update webpack version, webpack@1 is deprecated

[2019-11-15 08:53] #87 closed

[2019-11-18 03:47] sundylink commented on #87
@evilebottnawi  There is no deprecation, the solution is to reduce the raw-loader version, what is the reason？

[2019-12-05 09:47] swapnildalvi2002 commented on #64
Any solution on this I am also facing same issue
when use raw-loader!
var enUs = require( 'raw-loader!../../data/translations/en-US.json' );
ERROR:
\SyntaxError: Unexpected token e in JSON at position 0 while parsing near 'export default "{\n

And when use json-loader!
var enUs = require( 'json-loader!../../data/translations/en-US.json' );
ERROR
SyntaxError: Unexpected token m in JSON at position

[2020-04-19 18:13] ulivz opened #91 "[Bug Report] raw-loader failed to load *.json"
- Operating System: OSX
- Node Version: v12.16.1
- NPM Version: 6.13.4
- webpack Version: 4.42.1
- raw-loader Version: 4.0.1

### Expected Behavior

`*.json` should be loaded successfully with raw-loader like the `*.js`;

### Actual Behavior

`*.json` cannot be loaded successfully.

### Code

[code]

### How Do We Reproduce?

I just created a minimal reproduction repo: [raw-loader-load-json-repro]

[2020-04-20 12:11] evilebottnawi commented on #91
Webpack has built-in `json` loader and it automatically works on `json` extension. Ideally it should be written:
[code]

but it is not work as expected.

Workaround - setup loader in the configuration file:
[code]

[2020-04-24 04:27] RezaZR commented on #64
I'm having the same issue here. Any progress?

[2020-05-03 23:08] elgs opened #92 "Can raw-loader catch all"
The example in the README.md suggests .txt$ has to be configured in order for this loader to load .txt file. I wonder if this loader could be configured as a catch all loader, meaning it could catches everything not caught be other loaders?

[2020-05-04 11:51] evilebottnawi commented on #92
Yes, just use:
[code]

[2020-05-04 11:51] #92 closed

[2020-05-04 21:59] elgs commented on #92
Thank you so much. It worked! I think this should be the primary use of this loader.

[2020-05-06 11:05] evilebottnawi commented on #92
@elgs We have an issue for this in webpack, maybe for webpack@5 we will implement an option to enable this behavior without extra setup

[2020-05-31 06:42] trbabb opened #95 "`Module not found` when using TypeScript project references"
- Operating System: OSX Catalina
- Node Version: 12.10.0
- NPM Version: 6.14.5
- webpack Version: 4.43.0
- raw-loader Version: 4.0.1

### Expected Behavior

When using `raw-loader` with TypeScript references— For any given module `X.ts`, I'd expect import paths relative to `X.ts` to refer to the same resources whether `X` is imported from within its own project, or from a module in a different pro

[2020-05-31 23:40] stoplion opened #96 "Module Not Found"
- Operating System: 10.14.6
- Node Version: v10.20.1
- NPM Version: 6.14.4
- webpack Version: 4.4
- raw-loader Version: 4.0.1

### Expected Behavior

Adding raw loader to import markdown files:
[code]

In `.js` file, require the markdown file..
[code]

[code]

the path to markdown file is the relative path: `/posts/awards.md`

[2020-06-01 11:13] evilebottnawi commented on #96
Please do not remove `How Do We Reproduce?`, I can't help without it, also problem not related to `raw-loader`, looks you have wrong path or file doesn't exist

[2020-06-01 11:13] #96 closed

[2020-06-01 12:36] evilebottnawi commented on #95
https://github.com/webpack-contrib/raw-loader/issues/54#issuecomment-398570019

[2020-06-01 12:58] evilebottnawi commented on #95
Sorry, not related to `raw-loader`, looks like `ts-loader` doesn't respect loading declarations from relative import, please one a new issue, as workaround you can put declarations on top of project, I can't help here

[2020-06-01 12:58] #95 closed

[2020-06-01 13:44] paulduthoit opened #97 "Watch not working"
Hi everyone,

It seems that the files imported with raw-loader are not watched by webpack. :(

My config :
[code]

My config is :
- webpack : 4.43.0
- raw-load : 4.0.1
- node : 12.11.1
- running on Mac 10.14.5

Is anyone has encountered this issue ?

I found a similar issue here : https://stackoverflow.com/questions/45515724/webpack-watch-doesnt-trigger-for-css-files-in-specific-directory but the

[2020-06-01 14:00] evilebottnawi commented on #97
@paulduthoit Can you create reproducible test repo?

[2020-06-01 15:29] paulduthoit commented on #97
Hi @evilebottnawi, i've made a very simple reproducible test repo, and it's works like this. So i'm trying to investigate further to try to find where it's crash i'm my project. I will let you known and the next hours.

[2020-06-01 15:59] paulduthoit commented on #97
@evilebottnawi i've found the issue. It occurred with the `babel-plugin-inline-import` module in the `babel.config.js`. I'm using this because i'm running my React app in SSR so i need the webpack import AND the babel import...

My test repo :
https://github.com/paulduthoit/raw-loader-watch-issue

[2020-06-01 16:07] paulduthoit commented on #97
@evilebottnawi i finally found the solution ^^ : https://github.com/elliottsj/babel-inline-import-loader

The README of the package is very explicit and it fix the issue. Maybe this discussion will help another developer !

Thanks for your time. 👍

[2020-06-01 16:07] #97 closed

[2020-06-01 18:21] trbabb commented on #95
Filed https://github.com/TypeStrong/ts-loader/issues/1127 .

[2020-06-14 18:21] cristian-spiescu commented on #97
@paulduthoit: Actually, your solution doesn't use `raw-loader` anymore. But `babel-inline-import-loader` + `babel-plugin-inline-import`. This solution seems more difficult to integrate in `create-react-app` based applications.

Is there a solution for watch + `raw-loader`? I'm suggesting to reopen the issue.

[2020-06-15 11:22] cristian-spiescu commented on #97
UPDATE: actually the solution to go for is:
* in webpack: use `raw-loader`; it does have reload capability
* in nodejs (e.g. during test w/ mocha): use `babel-plugin-inline-import`; it doesn't have reload capability; actually it does w/ babel cache = OFF, which in my case was no-go

In my case `raw-loader` was not working, because I am using linked directories. I had to monkeypatch `chokidar` to h

[2020-06-15 12:36] paulduthoit commented on #97
Hi @cristian-spiescu. You're right ! But i don't understand why it would be more difficult to integrate ?

In my webpack config file, i have :

[code]

And in my babel.config.js file, i have :

[code]

Maybe it will help you and fix your symlink issue.

I think that it's not a good idea to use `raw-loader` if you need to import raw files with babel in addition to webpack. It's better to have `raw-

[2020-06-15 12:43] cristian-spiescu commented on #97
I proposed this text [here](https://github.com/feats/babel-plugin-inline-import/pull/32):

Apps created w/ CRA have little control over the webpack default. Even w/ CRACO, it's not trivial. And CRA is the default used by a lot of people I guess. Hence I use the dual config, cf. above.

And 2) losing babel's cache is a major drawback; at least for me. W/ my setup of mocha + babel + cache, every tes

[2020-06-15 12:54] paulduthoit commented on #97
I cannot help you with that, i never used CRA. :)
The only thing i can say is that when i'm using the `babel-plugin-inline-import` library, my cache is still there and it's instantly rebuilt.

[2020-06-24 13:46] evilebottnawi commented on #91
Another example of usage:
[code]

[2020-07-16 16:21] followgiant commented on #64
[code]
This works for me!

[2020-08-25 17:05] irshadshalu commented on #19
Hey @tonylampada , I know this is quite old and you probably have no idea what was going on, but just a suggestion that next time you solve something that you posted online, please do post the solution as well 😄

As it will help those in future who comes to your thread through searching.

[2021-01-31 20:23] spence-s opened #107 "[question] how to use the new asset modules with inline requires like you could with raw loader"
Documentation Is:

- [x] Missing
- [x] Needed
- [x] Confusing
- [x] Not Sure?

### Please Explain in Detail...

I want to know if we can use the new asset modules like raw-loader inline like this `import txt from 'raw-loader!./file.txt';`

I find the inline useful in certain situations - and this module is deprecated and there isn't anything documented to replace the above syntax.

### Your Propos

[2021-02-01 13:06] alexander-akait commented on #107
No docs, because we want to be as close as possible to browser and Node.js ESM spec, and `inline` syntax is never work in browsers or Node.js, it will be possible in future with `assert` imports, but now we don't want to create new non ESM syntax, so please use `webpack.config.js`, sorry, in long term `inline` syntax should be fully removed, because it was a big mistake

[2021-02-01 19:00] spence-s commented on #107
Thank you - I will be phasing out my usage of them then.

[2021-02-01 19:00] #107 closed, assigned to nobody

[2021-02-01 19:03] alexander-akait commented on #107
You can track `assert` here https://github.com/webpack/webpack/issues/11917

[2021-02-01 19:05] alexander-akait commented on #107
I hope we can introduce new ES modules features in near future and will be fully compatibility with Node.js/browsers/etc targets

[2021-02-03 13:46] alexander-akait commented on #107
@Spence-S Anyway I think I found solution:

[code]

and put in webpack.config.js:

[code]

Should work

[2021-02-03 13:46] alexander-akait commented on #107
ES modules compatibility + the same approach without extra configurations

[2021-02-03 17:37] spence-s commented on #107
@alexander-akait thank you for this! Good stuff!

[2021-02-03 17:47] alexander-akait commented on #107
@Spence-S I think we need docs it https://webpack.js.org/guides/asset-modules/ , do you want to help?

[2021-02-03 18:25] spence-s commented on #107
Sure, I can add that 👍🏻

[2021-02-23 18:10] FelixSab opened #108 "raw-loader returns export string instead of file content"
- Operating System: Ubuntu:16.04
- Node Version: 14.15.5
- Yarn Version: 1.22.5
- webpack Version: 5.24.0
- raw-loader Version: ^4.0.2

### Expected Behavior

Content of the file should be imported

### Actual Behavior

a string like `export default __webpack_public_path__ + "$test.10d9aaad.txt";` is imported

### Code

[code]

### How Do We Reproduce?

I will add that later, when I have successfu

[2021-02-24 11:30] alexander-akait commented on #108
It means you use `file-loader` instead `raw-loader` for this file, anyway `file-loader`/`url-loader`/`raw-loader` is deprecated for webpack v5, please migrate on https://webpack.js.org/guides/asset-modules/